.logo {
    width: 60px;
    height: auto;
    margin: 0.5rem;
}

.title {  
  font-size: 1.75rem;
  margin: 0rem;
  font-weight: bold;
  text-decoration: none;
  color: white; 

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

header .logo,
header .title {
  display: inline-block;
  margin: 0; }

  