nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  background-color: #031d40;
  color: white;
}

.nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.menu {
  display: none;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-info .username {
  font-weight: bold;
}

.logout-button {
  background-color: #FCB84B;
  color: white;
  border: none;
  padding: 0.5rem 0.5rem;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #fc983d;
}

@media (max-width: 768px) {
  .menu {
    display: block;
    cursor: pointer;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 0;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 1rem 0;
  }
}
