<IfModule mod_rewrite.c>
    RewriteEngine On

    # RewriteBase should point to your Slim app directory
    RewriteBase /php-gameReview/slim/

    # Redirect everything to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
    
</IfModule>